<!DOCTYPE html>
<html>
<head>
    <title>WebSocket Example</title>
</head>
<body>
    <h1>WebSocket Test</h1>
    <div id="messages"></div>
    <script>
        // Connect to the WebSocket server
        const ws = new WebSocket('ws://127.0.0.1:8000/ws/chat/');

        // Handle incoming messages
        ws.onmessage = function(event) {
            const messageDiv = document.getElementById('messages');
            const message = JSON.parse(event.data).message;
            const newMessage = document.createElement('div');
            newMessage.innerText = message;
            messageDiv.appendChild(newMessage);
            console.log(message)
        };

        // Handle WebSocket connection opening
        ws.onopen = function(event) {
            console.log('WebSocket is connected.');
        };

        // Handle WebSocket connection closing
        ws.onclose = function(event) {
            console.log('WebSocket is closed.');
        };

        // Handle WebSocket errors
        ws.onerror = function(error) {
            console.error('WebSocket error observed:', error);
        };
    </script>
</body>
</html>
